@font-face {
  font-family: "modern-dos-400";
  src: url("/fonts/ModernDOS8x16.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "modern-dos-900";
  src: url("/fonts/ModernDOS9x16.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import "tailwindcss";

@config '../../tailwind.config.ts';
